/* 네비게이션 바 스타일 */
.navbar {
    height: 60px;
    padding: 5px 0;
}
.navbar-brand img {
    height: 70px;
    max-height: 100%;
}
.navbar-nav .nav-link {
    font-size: 20px;
    font-weight: bold;
    color: #5156a1;
    margin-left: 10px;
}

/* 캐러셀 */
.carousel {
    width: 100%;
    height: 600px;
    transition: opacity 0.5s ease-out;
}
.carousel-item img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/* 슬로건 영역 */
.slogan {
    text-align: center;
    margin-top: 70px;
    padding: 40px;
}
.slogan h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
}
.slogan p {
    font-size: 18px;
    color: #666;
}
.slogan button {
    background-color: #5156a1;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
    color: white;
}
.slogan button:hover {
    background-color: #414693;
}

/* 공지사항 애니메이션 */
.notice-section {
    opacity: 0.5;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    margin-bottom: 80px;
}
.notice-visible {
    opacity: 1;
    transform: translateY(0);
}
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}
.card:hover {
    transform: translateY(-5px);
}

/* 공지사항 카드 */
.notice-card {
    padding: 20px;
    min-height: 160px;
    font-size: 1.2rem;
}

/* 공지사항 그룹 간 간격 */
.row-gap-4 {
    row-gap: 30px;
}

/* 제목 스타일 */
.notice-card .card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

/* 본문 스타일 */
.notice-card .card-text {
    font-size: 1.2rem;
}

.badge {
    font-size: 14px;
    padding: 5px 10px;
}

.main-function {
    margin-top: 100px;
    margin-bottom: 50px;
}

